body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "GothamProRegular", Helvetica, Arial, sans-serif;
}

.site__block {
  position: relative;
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;  
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header__navigation {
  position: fixed; 
  width: 150px;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  background-color: #f6f6f6;
  /* transition: ; для плавной адаптации  */
}

.header__logo {
  height: 206px;
}

.header__logo img {
  padding-top: 26px;
}

.header__logo p {
  color: #f74b3f;
  font-family: "GothamProMedium";
  margin-top: 11px;
  font-size: 17px;

  font: inherit;
}


.header__navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px;
  height: auto;
}

.header__navigation ul p,
.icon__block ul p {
  color: #45370a;
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  text-align: center;
  line-height: 17px;
 
}

.icon__block ul p {
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.box__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;  
  height: 118px;
}

.box__button:hover {
  border-top: 0.5px solid #555;
  border-bottom: 0.5px solid #555;
  background-color: white;
  box-sizing: border-box;
}

.page__content {
  position: absolute;
  top: 0;
  left: 150px;
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

.top__section {
  
  position: relative;
  display: block;
  height: 559px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top__section img {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: auto;
  height: 100%;
}


.icon__block {
  display: block;  
  position: relative;
  margin: 0;
  margin-top: 50px;
  margin-left: 4px;
  padding: 0;
  width: 695px;
  height: 225px;
 
}

.icon__block ul,
.gallery__photo ul,
.footer__social__icons ul {
  list-style: none; 
}

.icon__block__element {
  width: 160px;
  height: 225px;
  float: left;
  position: relative;
  text-align: center;
}

.icon__background {
  background-color: white;
  border-radius: 50%;
  width: 107px;
  height: 107px;
  margin: auto;
  position: relative;
  display: block;
  text-align: center;
  
}

.icon__1 {
  background-image: url("../img/image5.png");
  background-size: 100%;
  position: relative;
  height: 112px;
  margin: 0;
  padding: 0;

}

.icon__2 {
  background-image: url("../img/image3.png");
  background-size: 100%;
  position: relative;
  height: 112px;
  margin: 0;
  padding: 0;
}

.icon__3 {
  background-image: url("../img/image4.png");
  background-size: 100%;
  position: relative;
  height: 112px;
  margin: 0;
  padding: 0;
}

.icon__block__element span {
  color: red;                               
}

.icon__block__element p {
  margin-top: 15px;
}

.gallery__photo__section {
  height: 633px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.h1__block {
  margin: 0;
  position: relative;
  padding: 0;
  width: 1182px;
  height: 204px;
  display: block;
  
}

.h1__block h1 {
  font: inherit;
  font-family: "GothamProMedium";
  color: #f73934;
  margin: 0;
  padding: 0;
  margin-left: 51px;
  font-size: 85px;
  letter-spacing: 3px;
  
}

.h1__block .middle {
  font-family: "GothamProLight";
  font-size: 46px;
  line-height: 0.6;
  letter-spacing: 3px;
}

.h1__block .last {
  font-family: "GothamProLight";
  font-size: 47px;
  line-height: 1.1;
  letter-spacing: 3px;
}

.h1__block .last span {
  font-family: "GothamProBlack";
  font-size: 71px; 
  line-height: 1.1;
  
}

.gallery__block {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gallery__block img {
  background-repeat: no-repeat;
  position: absolute;  
  width: 620px;
  height: 100%;
  margin: 0;
  padding: 0;

}

.gallery__text__block {
  position: relative;
  margin: 243px 0 0 89px;
}

.gallery__text__block h2 {
  font-size: 38px;
  line-height: 48px;
  font-family: "GothamProBold";
  letter-spacing: 0.3px;
}

.gallery__text__block::before {
  content: "";
  background-image: url("../img/vk_inst_arr.png");
  background-size: cover;
  width: 146.63px;
  height: 190.7px;
  top: -214px;
  left: 31px;
  position: absolute;
  
}

.gallery__text__block p {
  position: absolute;
  background-color: white;
  display: inline-block;
  color: #f73934;
  font-family: "GothamProRegular";
  font-size: 39px;
  margin: 0;
  padding: 2px 7px 3px 7px;
  margin-top: -21px;
  margin-left: -7px;
  
}

.gallery__button {
  background-color: rgba(143,12,0,.1);;
  position: absolute;
  border: 2px solid white;
  padding: 22px 51px 15px 50px;
  font-size: 22px;
  color: white;
  margin-top: 61px;
  margin-left: 82px;
  letter-spacing: 1.1px;
}

.photo__block {
  display: block;
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

.photo__item {
  position: relative;
  width: 33.3%;
  height: 33.3%;
  box-sizing: border-box;
  display: block;
  float: left;
}

.item__sets {
  background-repeat: no-repeat;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background-size: cover;
  background-position: center;
}

.image__1 {
  background-image: url("../img/1.png");
}

.image__2 {
  background-image: url("../img/2.png");
}

.image__3 {
  background-image: url("../img/3.png");
}

.image__4 {
  background-image: url("../img/4.png");
}

.image__5 {
  background-image: url("../img/5.png");
}

.image__6 {
  background-image: url("../img/6.png");
}

.image__7 {
  background-image: url("../img/7.png");
}

.image__8 {
  background-image: url("../img/8.png");
}

.image__9 {
  background-image: url("../img/9.png");

}

.about__section {
  width: 100%;
  height: 631px;
  position: relative;
}

.about__static__block {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
}

.about__static__block::after {
  content: "";
  position: absolute;
  background-image: url("../img/download.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 135px;
  left: 600px;
  top: 151px;
  z-index: 1;
}

.about__static__block img {
  background-size: cover;
}

.about__static__block h2 {
  font-family: "GothamProBold";
  font-size: 53px;
  line-height: 1.05;
  color: white;
  position: absolute;
  margin-top: 148px;
  margin-left: 290px;
}

.about__static__block h2::before {
  content: "";
  background-image: url("../img/about_block_icons.4102b1d1.png");
  background-size: 100% 100%;
  position: absolute;
  width: 234px;
  height: 259px;
  left: -243px;
  top: -59px;
}

.about__static__block p {
  position: absolute;
  color: white;
  top: 346px;
  left: 84.5px;
  font-size: 19.4px;
  line-height: 1.2;
  font-family: "GothamProRegular";
  
}

.about__button {
  background-color: rgba(143,12,0,.1);
  position: absolute;
  border: 2px solid white;
  padding: 22px 34px 16px 35px;
  font-size: 22px;
  font-family: "GothamProRegular";
  color: white;
  margin-top: 465px;
  margin-left: 84px;
  letter-spacing: 1.1px;
}

.about__animated__block {
  margin: 0;
  padding: 0;
  width: 50%;
  right: 0;
  height: 636px;
  position: absolute;
  overflow:hidden;
}


.about__animated__image {
  margin: 0;
  padding: 0;
  position: absolute;
  background-image: url("../img/about_img.3f56954a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  transition: transform 10s ease;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

.about__section:hover .about__animated__image  {
  transform: scale(1.13);
}

.lays__summer__section {
  position: relative;
  width: 100%;
  height: 632px;
  
}

.lays__summer__animated__block {
  margin: 0;
  padding: 0;
  width: 50%;
  float: left;
  height: 100%;
  position: absolute;
  overflow:hidden;

}

.lays__summer__animated__image {
  background-image: url("../img/lays_img.5f4a68cd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  overflow:hidden;
  transition: transform 10s ease;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

.lays__summer__section:hover .lays__summer__animated__image {
  transform: scale(1.13);
  
}

.lays__summer__static__block {
  width: 50%;
  float: right;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
 
}

.lays__summer__static__block::before {
  background-image: url("../img/yellow.png");
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 67.73px;
  height: 150.53px;
  top: 248px;
  margin-left: -66px;

}

.lays__summer__static__block img {
  background-size: cover;
  
}

.lays__summer__static__block h2 {
  margin: 0;
  padding: 0;
  font-family: "GothamProBold";
  font-size: 57.6px;
  letter-spacing: 0.5px;
  color: #301f20;
  line-height: 1.05;
  position: absolute;
  top: 417px;
  left: 116.5px;
  
}

.lays__summer__static__block a {
  margin: 0;
  background-color: rgba(143,12,0,.1);
  position: absolute;
  border: 2px solid white;
  padding: 22px 49px 16px 50px;
  font-size: 22px;
  font-family: "GothamProRegular";
  color: white;
  bottom: 63px;
  left: 190px;
  letter-spacing: 1.1px;
}


.footer__section {
  height: 60px;
  width: 100%;
  position: relative;
  background-color: #3c3c3c;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
}

.footer__logo {
  background-image: url("../img/image3.jpeg");
  width: 50px;
  height: 60px;
  margin-left: 17px;
  float: left;
}

.footer__section p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 63px;
  margin-left: 2px;
  font-family: Arial,Helvetica,sans-serif;
  color: #b4b4b4;
}


.footer__social__icons {
  position: absolute;
  width: 240px;
  height: 60px;
  margin: 0;
  padding: 0;
  right: 0;
  bottom: 0;
  display: block;
  float: right;
  overflow: hidden;
  
}

.footer__social__icons ul  {
  margin: 0;
  padding: 0;
  
}


.social__icon__sets {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 31px 32px;
  float: left;
  opacity: 0.85;
}


.fb__icon {
  background-image: url("../img/facebook.jpeg");
  background-color: #326aa2;
}

.vk__icon {
  background-image: url("../img/vk.jpeg");
  background-color: #3479a8;
  
}

.lays__icon {
  background-image: url("../img/lays.jpeg") ;
  background-color: #edbf11;
}

.youtube__icon {
  background-image: url("../img/youtube.jpeg");
  background-color: #c4070e;
}